/*--- Reset codes---*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: transparent;
  width: 100%;
  height: 100vh;
  color: var(--white);
  font-family: "Roboto-light";
}
a {
  text-decoration: none;
  color: var(--white);
}
.hide {
  display: none !important;
}
.top,
.bottom {
  z-index: 2;
}
